@import "tailwindcss";

.primary {
    color: #FF6464;
}

.bg-primary {
    background-color: #FF6464;
}

.secondary {
    color: #00A8CC;
}

.bg-secondary {
    background-color: #EDF7FA;
}

.bg-dark-blue {
    background-color: #142850;
}

@media screen and (min-width: 1024px) {
    .project-detail-container {
        padding-right: 1.25rem;
    }
}